.app-container {
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-color: #f6f6fd;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-4) var(--spacing-4) var(--spacing-5);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

@media (min-width: 640px) {
    .main-content {
        padding: var(--spacing-5) var(--spacing-6) var(--spacing-5);
    }
}

@media (min-width: 1024px) {
    .main-content {
        padding: var(--spacing-5) var(--spacing-8) var(--spacing-5);
    }
}
