<aside class="sidebar" [class.collapsed]="isCollapsed">
    <!-- Collapse Toggle Button -->
    <button class="collapse-toggle" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
        <i class="fa-solid" [ngClass]="isCollapsed ? 'fa-angles-right' : 'fa-angles-left'"></i>
    </button>
 <!-- Brand Header -->
 <div class="sidebar-header">
  <div class="brand-container">
      <div class="logo-wrapper">
        <svg width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.0864 0.0641742C14.0117 0.0300409 13.888 0.0300409 13.8112 0.0641742L0.136533 6.36604C0.0618667 6.40017 0 6.49617 0 6.57937C0 6.57937 0 7.83591 0 15.3922C0 25.9906 12.4373 31.8423 13.9499 31.8423C15.4624 31.8423 27.8997 25.9906 27.8997 15.3922C27.8997 7.83591 27.8997 6.57937 27.8997 6.57937C27.8997 6.49617 27.8379 6.40017 27.7632 6.36391L14.0864 0.0641742Z" fill="white"/>
          <mask id="mask0_7056_9855" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="32">
          <path d="M13.9499 0L0 6.42773C0 6.42773 0 7.83573 0 15.392C0 25.9904 12.4373 31.8421 13.9499 31.8421C15.4624 31.8421 27.8997 25.9904 27.8997 15.392C27.8997 7.83573 27.8997 6.42773 27.8997 6.42773L13.9499 0Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_7056_9855)">
          <path d="M28.2945 0H13.95V31.8421H28.2945V0Z" fill="#DFE7F2"/>
          </g>
          <path d="M19.3962 15.4581L11.6458 23.9509C11.4325 24.1855 11.1338 24.3242 10.8565 24.3157C10.7797 24.3263 10.705 24.3263 10.6346 24.3157C10.3104 24.2133 10.1632 23.8847 10.2762 23.5199L12.5184 17.7855H9.19251C8.31358 17.7855 7.79305 17.073 8.02771 16.1962C8.10878 15.8954 8.27305 15.5989 8.50131 15.345L16.2517 6.85221C16.5205 6.53434 16.9386 6.38288 17.2629 6.48741C17.5872 6.58981 17.7344 6.91834 17.6213 7.28314L15.3834 13.0175H18.7072C19.5861 13.0175 20.1066 13.7301 19.872 14.6069C19.7888 14.9077 19.6245 15.2021 19.3962 15.4581Z" fill="#2761FC"/>
          <mask id="mask1_7056_9855" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="7" y="6" width="13" height="19">
          <path d="M19.3962 15.4581L11.6458 23.9509C11.4325 24.1855 11.1338 24.3242 10.8565 24.3157C10.7797 24.3263 10.705 24.3263 10.6346 24.3157C10.3104 24.2133 10.1632 23.8847 10.2762 23.5199L12.5184 17.7855H9.19251C8.31358 17.7855 7.79305 17.073 8.02771 16.1962C8.10878 15.8954 8.27305 15.5989 8.50131 15.345L16.2517 6.85221C16.5205 6.53434 16.9386 6.38288 17.2629 6.48741C17.5872 6.58981 17.7344 6.91834 17.6213 7.28314L15.3834 13.0175H18.7072C19.5861 13.0175 20.1066 13.7301 19.872 14.6069C19.7888 14.9077 19.6245 15.2021 19.3962 15.4581Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_7056_9855)">
          <path d="M19.8721 3.58398H13.95V25.8944H19.8721V3.58398Z" fill="#2152D4"/>
          </g>
          </svg>

      </div>
      <div class="brand-text" *ngIf="!isCollapsed">
          <h1 class="brand-title">Stellar Account</h1>
          <p class="brand-subtitle">Stellar Security</p>
      </div>
  </div>
</div>
    <div class="sidebar-content">


        <!-- Navigation Menu -->
        <nav class="nav-menu">
            <a *ngFor="let item of navigationItems"
               [routerLink]="item.route"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: false}"
               class="nav-link"
               [attr.aria-label]="item.label">
                <div class="nav-link-content">
                    <span class="nav-icon">
                        <i [class]="item.icon"></i>
                    </span>
                    <span class="nav-label" *ngIf="!isCollapsed">{{ item.label }}</span>
                </div>
                <div class="nav-indicator"></div>
            </a>
        </nav>

        <!-- Info Box -->
        <div class="info-box" [class.expanded]="isInfoBoxExpanded" *ngIf="!isCollapsed">
            <div class="info-box-header" (click)="toggleInfoBox()">
                <div class="info-title">
                    <span class="info-icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </span>
                    <span class="info-title-text">Stellar ID</span>
                </div>
                <i class="fa-solid fa-chevron-down info-expand-icon"
                   [class.rotated]="isInfoBoxExpanded"></i>
            </div>
            <div class="info-box-content"
                 [@expandCollapse]="isInfoBoxExpanded ? 'expanded' : 'collapsed'"
                 *ngIf="isInfoBoxExpanded || !isCollapsed">
                <p class="info-text">
                    All your Stellar apps share the same secure ID across phone, desktop and cloud.
                </p>
                <button class="info-action-btn" (click)="$event.stopPropagation()">
                    <i class="fa-solid fa-arrow-right"></i>
                    Learn More
                </button>
            </div>
        </div>
    </div>

    <!-- User Profile Footer -->
    <div class="sidebar-footer">
        <div class="user-profile">
            <div class="avatar">
                <span class="avatar-text">{{ user?.initials }}</span>
                <div class="avatar-status"></div>
            </div>
            <div class="user-details" *ngIf="!isCollapsed">
                <p class="user-name">{{ user?.name }}</p>
                <p class="user-email">{{ user?.email }}</p>
            </div>
        </div>
        <button class="sign-out-btn"
                (click)="onSignOut()"
                [attr.aria-label]="'Sign out'"
                *ngIf="!isCollapsed">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
</aside>
