/* Import Custom CSS Design System */
@import './styles/variables.scss';
@import './styles/reset.scss';
@import './styles/utilities.scss';

/* Global Styles */
html,
body {
    height: 100%;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-slate-900);
    background-color: #f6f6fd;
}

body {
    background-color: #f6f6fd;
    min-height: 100vh;
}
